<launch>
    <node name="imu" pkg="telemetry" type="IMU.py" output="screen">
    </node>
    <node name="compass" pkg="telemetry" type="Compass.py" output="screen">
    </node>
    <node name="arrow" pkg="lowLevelHardware" type="servoFromTopic.py" output="screen">
    <param name="srv_num" value="3"/>
    <param name="val_max" value="1.5708"/>
    <param name="val_min" value="-1.5708"/>
    <param name="time_max" value="2.00"/>
    <param name="time_min" value="1.00"/>
    <param name="topic" value="compass"/>
  </node>

</launch>
